*,
*::after,
*::before {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    width: auto;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
}  

main {
    
    max-width: 1920px;
    max-height: auto;
    
}  
.content{
    display: flex;
    flex-direction: column;
   
}
section{
    margin-left: 340px;
}

  





